* {
  box-sizing: border-box;  
}

body {
  margin: 0;
  background: #000;
  color: #FFF;
  text-align: center;
  font-family: sans-serif;
}

#app,
header,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  background: #444;
  padding: 10px;
}

h1#title {
  margin: 15px auto 5px;
}

span#subtitle{
  margin: 5px auto 15px;
}

main {
  padding: 20px;
}

select,
input,
textarea {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 5px;
  margin: 10px auto;
}

div.input-row {
  padding: 10px;
}

label#footage-button,
input#submit {
  border: 1px solid #555;
  border-radius: 4px;
  background: #F00;
  color: #FFF;
  padding: 10px 5px;
  display: block;
}

input#footage {
  display: none;
}

div.modal,
div.thankyou-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

div.modal {
  background: #000;
  opacity: 0.7;
}

div.thankyou-modal {
  background: #000;
}

div.thankyou {
  background: #000;
  padding: 10px;
  border-radius: 4px;
  line-height: 1.5em;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div.spinner {
  font-size: 48px;
  animation: spin 1s linear infinite;
}
